body {
  background: black;
  color: white;
}

#canvas {
  margin-top: 20px;
  display: block;
  width: 640px;
  height: 428px;
}

#arena {
  margin: 0 auto;
  width: 640px;
}

#instructions {
  color: yellow;
  margin-left: 0px;
  margin-top: 15px;
  padding-left: 0px;
  font-size: 1em;
}

.keys {
  border-radius: 5px;
  margin-left: 0px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  display: inline;
}

.explanation {
  color: white;
  display: inline;
  margin-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
}

#checkboxes {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1em;
}

.checkbox-div {
  display: inline;
  margin-right: 5px;
  outline: none;
}

#buttons-div {
  margin-left: 0px;
  margin-right: 2px;
  margin-top: 10px;
  padding: 0px;
  font-size: 1em;
}

.glider-button {
  font-size: 1em;
  margin-top: 0px;
  margin-right: 10px;
  outline: none;
}

#houses-span {
  margin-left: 5px;
  margin-right: 20px;
}
#houses-select {
  margin-left: 5px;
}

#rooms-span {
  margin-left: 5px;
  margin-right: 20px;
  visibility: hidden;
}

#rooms-select {
  margin-left: 5px;
}

#credit a, #credit a:visited {
  color: white;
}
